* {
    text-decoration: none;
    list-style: none;
    padding: 0px;
    outline: none;
}

.content {
    background-color: #95e0e6;
}


/* CORE STYLES */

:root {
    --primary-color: rgba(13, 110, 139, 0.75);
    --overlay-color: rgba(24, 39, 51, 0.85);
    --menu-speed: 0.75s;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
}

.container {
    max-width: 960px;
    margin: auto;
    overflow: hidden;
    padding: 0 3rem;
}

.showcase {
    background: var(--primary-color);
    color: #fff;
    height: 100vh;
    position: relative;
}

.showcase:before {
    content: '';
    background: url('https://images.pexels.com/photos/533923/pexels-photo-533923.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.showcase .showcase-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
}

.showcase h1 {
    font-size: 4rem;
}

.showcase p {
    font-size: 1.3rem;
}

.btn {
    display: inline-block;
    border: none;
    background: var(--primary-color);
    color: #fff;
    padding: 0.75rem 1.5rem;
    margin-top: 1rem;
    transition: opacity 1s ease-in-out;
    text-decoration: none;
}

.btn:hover {
    opacity: 0.7;
}


/* MENU STYLES */

.menu-wrap {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.menu-wrap .toggler {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
}

.menu-wrap .hamburger {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1rem;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Hamburger Line */

.menu-wrap .hamburger>div {
    position: relative;
    flex: none;
    width: 100%;
    height: 2px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}


/* Hamburger Lines - Top & Bottom */

.menu-wrap .hamburger>div::before,
.menu-wrap .hamburger>div::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
}


/* Moves Line Down */

.menu-wrap .hamburger>div::after {
    top: 10px;
}


/* Toggler Animation */

.menu-wrap .toggler:checked+.hamburger>div {
    transform: rotate(135deg);
}


/* Turns Lines Into X */

.menu-wrap .toggler:checked+.hamburger>div:before,
.menu-wrap .toggler:checked+.hamburger>div:after {
    top: 0;
    transform: rotate(90deg);
}


/* Rotate On Hover When Checked */

.menu-wrap .toggler:checked:hover+.hamburger>div {
    transform: rotate(225deg);
}


/* Show Menu */

.menu-wrap .toggler:checked~.menu {
    visibility: visible;
}

.menu-wrap .toggler:checked~.menu>div {
    transform: scale(1);
    transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked~.menu>div>div {
    opacity: 1;
    transition: opacity 0.4s ease 0.4s;
}

.menu-wrap .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-wrap .menu>div {
    background: var(--overlay-color);
    border-radius: 50%;
    width: 200vw;
    height: 200vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
}

.menu-wrap .menu>div>div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
}

.menu-wrap .menu>div>div>ul>li {
    list-style: none;
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem;
}

.menu-wrap .menu>div>div>ul>li>a {
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
}

section {
    width: 100%;
    max-width: 1200px;
    margin: 0px auto;
    display: table;
    position: relative;
}

h1 {
    margin: 0px auto;
    display: table;
    font-size: 26px;
    padding: 40px 0px;
    color: #002e5b;
    text-align: center;
}

h1 span {
    font-weight: 500;
}

header {
    width: 100%;
    display: table;
    background-color: #fde428;
    margin-bottom: 50px;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.paragraph {
    padding-right: 10px;
    padding-left: 10px;
}

.paragraph2 {
    text-align: center;
    padding-right: 10px;
    padding-left: 10px;
}

.searchBar {
    text-align: center;
}

.content h2 {
    font-size: 18px;
    font-weight: 500;
    color: #002e5b;
    border-bottom: 1px solid #fde428;
    display: table;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.content p {
    font-size: 14px;
    line-height: 22px;
    color: #7c7c7c;
    text-align: justify;
}

footer {
    display: table;
    padding-bottom: 30px;
    width: 100%;
}

.social {
    margin: 0px auto;
    display: table;
    display: table;
}

.social li {
    float: left;
    padding: 0px 10px;
}

.social li a {
    color: #002e5b;
    transition: all 0.5s ease 0s;
}

.social li a:hover {
    color: #fde428;
    transition: all 0.5s ease 0s;
}


/* Style the tab */

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}


/* Style the buttons inside the tab */

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}


/* Change background color of buttons on hover */

.tab button:hover {
    background-color: #ddd;
}


/* Create an active/current tablink class */

.tab button.active {
    background-color: #ccc;
}


/* Style the tab content */

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

@media only screen and (max-width: 1440px) {}

@media only screen and (max-width: 980px) {
    header {
        padding: 20px 0px;
    }
    #logo {
        padding: 0px;
    }
    input[type=checkbox] {
        position: absolute;
        top: -9999px;
        left: -9999px;
        background: none;
    }
    input[type=checkbox]:fous {
        background: none;
    }
    label {
        float: none;
        padding: 8px 0px;
        display: inline-block;
        cursor: pointer;
    }
    input[type=checkbox]:checked~nav {
        display: block;
    }
    nav {
        display: none;
        position: absolute;
        right: 0px;
        top: 53px;
        background-color: #002e5b;
        padding: 0px;
        z-index: 99;
    }
    nav ul {
        width: auto;
    }
    nav ul li {
        float: none;
        padding: 0px;
        width: 100%;
        display: table;
    }
    nav ul li a {
        color: #FFF;
        font-size: 15px;
        padding: 10px 20px;
        display: block;
        border-bottom: 1px solid rgba(225, 225, 225, 0.1);
    }
    nav ul li a i {
        color: #fde428;
        padding-right: 13px;
    }
}

* {
    box-sizing: border-box
}


/* Slideshow container */

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}


/* Hide the images by default */

.mySlides {
    display: none;
}


/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}


/* Position the "next button" to the right */

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


/* Caption text */

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}


/* Number text (1/3 etc) */

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}


/* The dots/bullets/indicators */

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #ffffff;
}

.grid-container {
    display: grid;
    grid-template-columns: 33% 33% auto;
    background-color: #ffffff;
    padding: 10px;
}

.grid-container2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1px 1px;
    grid-template-areas: "Nav Info Empty ." "Nav Info Empty ." ". Info Empty .";
}

.grid-container3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1px 1px;
    grid-template-areas: "Nav Logo Logo Empty" "Nav Carousel Carousel Empty" "Nav Other-Stuff Other-Stuff Empty";
}

#logo {
    position: relative;
    left: 100;
}

#nav {
    position: relative;
    left: 120;
}

.Carousel {
    position: relative;
    left: 360;
}

.Logo {
    grid-area: Logo;
}

.Empty {
    grid-area: Empty;
}

.Carousel {
    grid-area: Carousel;
}

.Other-Stuff {
    grid-area: Other-Stuff;
}

.Nav {
    grid-area: Nav;
}

.information {
    text-align: center;
    margin-left: auto;
}

.Nav {
    grid-area: Nav;
}

.Info {
    grid-area: Info;
}

.Empty {
    grid-area: Empty;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}


/* Fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

#map {
    height: 400px;
    width: 600px;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@media only screen and (max-width: 980px) {
    .content {
        width: 90%;
    }
}

@media only screen and (max-width: 568px) {
    h1 {
        padding: 25px 0px;
    }
    h1 span {
        display: block;
    }
}

@media only screen and (max-width: 480px) {
    section {
        max-width: 90%;
    }
}

@media only screen and (max-width: 360px) {
    h1 {
        font-size: 20px;
    }
    label {
        padding: 5px 0px;
    }
    nav {
        top: 0px;
    }
}

@media only screen and (max-width: 320px) {
    h1 {
        padding: 20px 0px;
    }
    @media screen and (max-width: 600px) {
        ul.topnav li.right,
        ul.topnav li {
            float: none;
        }
    }
}

@media screen and (max-width: 600px) {
    ul.topnav li.right,
    ul.topnav li {
        float: none;
    }
    #logo {
        position: absolute;
        left: 0;
    }
    .Carousel {
        left: 0
    }
    .tab {
        left: 20
    }
}

@media screen and (max-width: 400px) {
    ul.topnav li.right,
    ul.topnav li {
        float: none;
    }
    #logo {
        position: absolute;
        left: 0;
    }
    .Carousel {
        left: 0
    }
    .tab {
        left: 20
    }
}